<!--Info page, stuff -->

<br>
<table>
  <tr>
    <th width="15%">
    <th width="55%"><h1>About Master Thierry Rene</h1></th>
    <th width="30%"><h3>Remember</h3></th>
  </tr>
  <tr>
    <td><%= image_tag("master_rene.jpg", :class => "master_rene") %></td>
    <td>
      <p style="font-size: 16px; font-weight:normal;">
        Master Thierry Rene, a 4th degree Black Belt, was born in Cayes, Haiti. He started the Martial Arts training at 6 years old in Fraternity School from 1982-1991 under the instruction of Master Welert Benoit. Master Rene is internationally known and respected as an excellent and talented teacher. In 1989 he won the National Championship in Honduras and in 1997 he received the award of merit at the 21st anniversary of L'Instituto Dominicano Tae Kwon Do. <br>

       On October 10th, 1990 he opened his first school, Institue Verite in his hometown. Thierry Rene participated in many different international competitions and has won multiple tournaments. He competed in Honduras 1989, in Haiti 1989, in Santo Domingo 1997, in Venezuela 1998, in Puerto Rico 1998, and in Seoul South Korea in 2006. Master Thierry always emerges a champion and a true winner. <br>

       In August 1998 he came to the United States with a vision of expanding the sport of Tae Kwon Do. In September 2004 he decided to open a new school in Round Rock, Texas with a focus on improvement in himself and his students. In 2006, he traveled to Seoul, South Korea for a test conducted by Kim Jang Il of Tae Dong Gymnasium The Korean Tae Kwon Do Association. Master Rene seeks to make Tae Kwon Do a priceless investment in everyone's life and his penetrating eyes reflect his fiery spirit. He lives to touch the hearts of anyone who will learn from him through his incredible physical abilities and his sense of humor. <br>
      </p>
    </td>
    <td>
      <p style="font-size: 16px; font-weight:normal;">Tae Kwon Do is not a roughneck activity. Rather than encouraging aggression, our program helps each individual channel aggressive energy into socially acceptable forms of friendly competition and personal competence. Martial arts students have a deep personal respect of physical ability to overcome an attacker. This developed sense of self-esteem makes him or her an unlikely target for being picked on or taken advantage of. </p>
    </td>
  </tr>
  <tr>
    <td></td>
    <th>
      <h3>For Concerned Parents </h3>
      <p style="font-size: 16px; font-weight:normal;">Our program aids parents in build their children's confidence and character qualities that help to develop lieaders! Our instructors carefully supervise the classes to ensure that safety is maintained. Each child develops confidence and self-esteem as they develop physically. It is exciting to watch them become more graceful, more agile, and more confident about themselves and their abilities. As children advance through classes they learn patience and persistence. Parents of our students have often attributed our program with better school grades, greater self confidence, more outgoing personalities, and improved attitudes.</p>
    </th>
  </tr>
</div>
</table>
<br><br>
<br><br>