<footer class='navbar navbar-fixed-bottom navbar-inverse navbar-xs navbar-default'>
  <div class="container">
    <p id = 'bottom'>
      &copy VTKD 2016
    </p>

    <div class ='nav navbar-nav navbar-right' id = 'bottom_right'>

        Follow us on
        <%= link_to image_tag("facebook.png", :class => "facebook_icon", :alt => "Facebook"),   'https://www.facebook.com/VeriteTKD/?skip_nax_wizard=true', :target => '_blank' %>
        or
        <%= link_to image_tag("twitter.png", :class => "twitter_icon", :alt => "Twitter"),   'https://twitter.com/VeriteTKD', :target => '_blank' %>

    </div>
  </div>
</footer>